@import "tailwindcss";

:root {
  color-scheme: dark;
}

* {
  @apply border-white/10;
}

body {
  @apply bg-base-900 text-white antialiased;
}

.text-gradient {
  @apply bg-accent-gradient bg-clip-text text-transparent;
}
