@import "tailwindcss";

:root {
  color-scheme: dark;
}

* {
  @apply border-white/10;
}

body {
  @apply bg-[#121212] text-white antialiased;
}

.text-gradient {
  @apply bg-[linear-gradient(135deg,_#4B0082,_#8A2BE2)] bg-clip-text text-transparent;
}
